.title {
    width: 100%;
    display: flex;
    justify-content: center;
}
.stitle {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.buttom-op {
    margin: 20px;
}

.content{
    display: flex
}